[[extend 'layout.html']]

<div class="section">
   <h1 class = "title">Your Address Book</h1>
   <table class = "table is-hoverable is-striped is-fullwidth">
      <tr>
         <th>First Name</th>
         <th>Last Name</th>
         <th></th>
         <th>Phone Number</th>
         <th></th>
      </tr>
      [[for row in rows:]]
      <tr>
         <td>[[=row["first_name"] ]]</td>
         <td>[[=row["last_name"] ]]</td>

         <td>
            <a class = "button is-info" href = "[[=URL('edit', row['id'], signer=url_signer)]]">
               <span class = "icon"><i class = "fa fa-fw fa-pencil"></i></span>
<!--               <span>Edit</span>-->
            </a>
<!--         </td>-->

<!--         <td>-->
            <a class = "button is-danger" href = "[[=URL('delete', row['id'], signer=url_signer)]]">
               <span class = "icon"><i class = "fa fa-fw fa-trash"></i></span>
<!--               <span>Edit</span>-->
            </a>
         </td>
         <td>
             [[=row["nums_and_types"] ]]
         </td>
         <td>
<!--            /add_phone/<contact_id>-->
            <a class = "button is-warning" href = "[[=URL('edit_phones', row['id'], signer=url_signer)]]">
               <span class = "icon"><i class = "fa fa-fw fa-edit"></i></span>
               <!--               <span>Edit</span>-->
            </a>
         </td>

      </tr>
      [[pass]]
   </table>


   <a class = "button is-success" href="[[=URL('add')]]">
      <span class = "icon"><i class = "fa fa-plus"></i></span>
      <span>Add Contact</span>
   </a>
</div>